<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="center">User Form</h1>
      <p class="center">This is the Form for new users</p>
      <form action="/users" method="post">
        <input
          class="input-field"
          type="text"
          name="name"
          placeholder="Enter Your Name"
        />
        <input
          class="input-field"
          type="text"
          name="email"
          placeholder="Enter Your Email"
        />
        <input
          class="input-field"
          type="number"
          name="age"
          placeholder="Enter Your Age"
        />
        <input
          class="input-field"
          type="text"
          name="bio"
          placeholder="Enter Your Bio"
        />
        <input class="submit" type="submit" value="Add User" />
      </form>
    </div>
    <footer>
      <small>&copy; Copyright 2022 Sarang Kulkarni.All Rights Reserved</small>
    </footer>
  </body>
</html>
